{% extends "base.html" %}
{% block jsInclude %}
<script src="../../static/ui/types.js"></script>
{% endblock %}
{% block title %}Types{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="row">
        <div class="col-sm-3" style="padding: 0px 5px 0px 5px">
            <div class="form-group">
                <label>Type</label>
                <select id="types" class="form-control">
                </select>
                <label>Name</label>
                <select id="type_name" class="form-control">
                </select>
            </div>
            <div class="row voffset2">
                <button id="update_button" type="button" style="margin: 0px 10px 10px 15px" class="btn btn-default">
                    Update
                </button>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="panel-group" style="margin: 10px 10px 10px 10px" id="instances_parameters_accordion">
                    <div class="panel panel-default" id="panel1" style="width: 100%">
                        <div class="panel-heading">
                            <h6 class="panel-title">
                                <a>
                                    Document
                                </a>
                            </h6>
                        </div>
                        <div class="panel-body">
                            <textarea id="document_body"
                                      style="min-height: 500px; max-height: 800px;width:100%"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
