{% extends "base.html" %}
{% block jsInclude %}
  <script src="../../static/ui/stacks/resource_objects.js"></script>
{% endblock %}
{% block cssInclude %}
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<style>
.hiddenRow {
padding: 0 !important;
}
</style>
{% endblock %}
{% block title %}Resource Objects{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
      <div class="panel panel-default">
          <!-- /.panel-heading -->
          <div class="panel-body">
            <!-- <div class="row"> -->
             <div class="table-responsive">
              <table width="100%" class="table table-hover" style="table-layout:fixed" id="dataTables-example">
                  <col width="150">
                  <col width="80">
                  <col width="150">
                  <col width="80">
                  <col width="150">
                  <col width="80">
                  <thead>
                      <tr>
                        <th style="text-align: center">Name</th>
                        <th style="text-align: center">Role</th>
                        <th style="text-align: center">Environment</th>
                        <th style="text-align: center">Shape</th>
                        <th style="text-align: center">Zone</th>
                        <th style="text-align: center">Location</th>
                      </tr>
                  </thead>
                  <tbody>
                  </tbody>
              </table>
              <!-- /.table-responsive -->
            </div>
           </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
  </div>
</div>
  <!-- /.col-lg-12 -->
  {% endblock %}
  {% block jsScripts %}
  <!-- DataTables JavaScript -->
  <script src="../../static/vendor/datatables/js/jquery.dataTables.min.js"></script>
  <script src="../../static/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
  <script src="../../static/vendor/datatables-responsive/dataTables.responsive.js"></script>
  {% endblock %}
