{% extends "base.html" %}
{% block jsInclude %}
<script src="../../static/ui/clients/clients.js"></script>
{% endblock %}
{% block title %}Proxies{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <button id="add_button" type="button" style="margin: 0px 10px 10px 15px" class="btn btn-success"
                            data-toggle="modal" data-target="#myModal">Add
                    </button>
                    <!-- </div>
                    <div class="form-group"> -->
                    <button id="delete_button" type="button" style="margin: 0px 10px 10px 15px" class="btn btn-danger"
                            data-toggle="modal" data-target="#myModalDelete">Delete
                    </button>
                </div>
                <!-- Modal Add-->
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add proxy</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Description</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control"
                                                   id="description" placeholder="Description"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Tags</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control"
                                                   id="tags" placeholder="common,tag1,tag2"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <div class="checkbox">
                                                <label>
                                                    <input id="generateCert" type="checkbox"/> Generate certificate
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="shownSerial">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Serial</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control"
                                                       id="serial" placeholder="00"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="hidden" style="display: none;">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Common Name</label>
                                            <div class="col-sm-10">
                                                <input id="commonName" type="text" class="form-control"
                                                       placeholder="Common Name"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label"
                                                   for="inputEmail3">Email</label>
                                            <div class="col-sm-10">
                                                <input type="email" class="form-control"
                                                       id="email" placeholder="Email"/>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button id="add" type="button" class="btn btn-default" data-dismiss="modal">Add</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Delete-->
                <div id="myModalDelete" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Delete proxy</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Serial</label>
                                        <div class="col-sm-10">
                                            <select id="delete_serial" class="form-control">
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button id="delete" type="button" class="btn btn-danger" data-dismiss="modal">Delete
                                </button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table width="100%" class="table table-hover" style="table-layout:fixed" id="dataTables-example">
                        <thead>
                        <tr>
                            <th>Serial</th>
                            <th>Description</th>
                            <th>Tags</th>
                            <th>Tenant</th>
                            <th>Certificate</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock %}

{% block jsScripts %}
<!-- DataTables JavaScript -->
<script src="../../static/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="../../static/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="../../static/vendor/datatables-responsive/dataTables.responsive.js"></script>
<script type="text/javascript">
var client_role = 'proxy';


</script>
{% endblock %}
