{% extends "base.html" %}

{% block title %}SPOT v1{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jqx.base.css') }}">
{% endblock %}
{% block page_content %}
<div id="treeGrid"></div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/polyfills.js') }}"></script>
<script src="{{ url_for('static', filename='js/treeWrapper.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jqwidgets/jqxcore.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jqwidgets/jqxbuttons.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jqwidgets/jqxscrollbar.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jqwidgets/jqxdatatable.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jqwidgets/jqxtreegrid.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jqwidgets/jqxlistbox.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jqwidgets/jqxdropdownlist.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jqwidgets/jqxdata.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jqwidgets/jqxtooltip.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jqwidgets/jqxinput.js') }}"></script>
<script src="{{ url_for('static', filename='js/polyfills.js') }}"></script>
<script src="{{ url_for('static', filename='js/treeWrapper.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/_detail.js') }}"></script>
<script type="text/javascript">var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}</script>
{% endblock %}