<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>STACKL.IO UI</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    {% block jsInclude %}{% endblock %}

    <!-- Bootstrap Core CSS -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../../static/vendor/bootstrap-table-master/dist/bootstrap-table.css">

    <!-- MetisMenu CSS -->
    <link href="../../static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="../../static/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="../../static/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    {% block cssInclude %}{% endblock %}
    <link rel="stylesheet" href="../../static/node_modules/xterm/dist/xterm.css"/>
    <script src="../../static/node_modules/xterm/dist/addons/fit/fit.js"></script>
    <script src="../../static/node_modules/xterm/dist/xterm.js"></script>

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/ui/home">STACKL.IO UI</a>
        </div>
        <!-- /.navbar-header -->

        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <!-- <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                        </div>
                        <!-- /input-group -->
                    <!-- </li> -->
                    <li>
                        <a href="/ui/home"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Clients<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="/ui/clients/administrators">Administrators</a>
                            </li>
                            <li>
                                <a href="/ui/clients/proxies">Proxies</a>
                            </li>
                            <li>
                                <a href="/ui/clients/automation-endpoints">Automation-endpoints</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Stacks<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse in">
                            <li>
                                <a href="/ui/stacks/instances">Instances</a>
                            </li>
                            <li>
                                <a href="/ui/stacks/templates">Templates</a>
                            </li>
                            <li>
                                <a href="/ui/stacks/resource_objects">Resource Objects</a>
                            </li>
                        </ul>
                    <li>
                        <a href="/ui/hiera"><i class="fa fa-table fa-fw"></i>Hiera</a>
                    </li>
                    <li>
                        <a href="/ui/types"><i class="fa fa-files-o fa-fw"></i>Types</a>
                    </li>
                    <li>
                        <a href="/ui/automation_runs"><i class="fa fa-files-o fa-fw"></i>Automation Runs</a>
                    </li>
                    <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% block title %}{% endblock %}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        {% block content %}{% endblock %}
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="../../static/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/vendor/bootstrap/js/bootbox.min.js"></script>
<script src="../../static/vendor/bootstrap-table-master/dist/bootstrap-table.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="../../static/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../../static/dist/js/sb-admin-2.js"></script>

{% block jsScripts %}{% endblock %}

</body>

</html>
