{% extends "base.html" %}
{% block jsInclude %}
<script src="../../static/ui/index.js"></script>
<script src="../../static/dist/js/sb-admin-2.js"></script>
<script>
    (function(w,d,s,l,t,b) {w['CoscaleObj']={e:0,t:t,b:b};var js=d.createElement(s),
     sc = d.getElementsByTagName(s)[0];js.src=l;sc.parentNode.insertBefore(js,sc);
    }(window, document,"script","//rum.coscale.com/rum/v1/js/coscale-rum.js","00908ec8-3596-4ae6-befa-67f8b38be0f6","//rum.coscale.com"));

</script>
{% endblock %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-cubes fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id=stack_template_number class="huge">0</div>
                        <div>Stack templates</div>
                    </div>
                </div>
            </div>
            <a href="/ui/stacks/templates">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id='stack_instance_number' class="huge">0</div>
                        <div>Stack instances</div>
                    </div>
                </div>
            </div>
            <a href="/ui/stacks/instances">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-desktop fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="resource_object_number" class="huge">0</div>
                        <div>Resource Objects</div>
                    </div>
                </div>
            </div>
            <a href="/ui/stacks/resource_objects">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                SSL information
            </div>
            <div id="sslinfo_body" class="panel-body">
            </div>
            <div id="sslinfo_footer" class="panel-footer">
                <p class="text-success no-padding">Client verify</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                Inventory
            </div>
            <div id="inventory_schedule" class="panel-body">
                <div class="col-md-12 text-center">
                    <button type="button" id="inventory_collect" class="btn btn-primary btn-info btn-sm">Collect now
                    </button>
                </div>
            </div>
            <div id="inventory_schedule_footer" class="panel-footer">
                <br>
            </div>
        </div>
    </div>
    {% endblock %}
